name: Generate Pre Release logs
on:
  pull_request:
    types: [opened, edited]
    branches:
      - main
      - "releases/**"

jobs:
  watch-changes-in-release-branch:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - name: Get current time
        uses: josStorer/get-current-time@v2
        id: current-time
        with:
          format: YYYYMMDD-HH
          utcOffset: "+08:00"

      - name: Use current time
        env:
          TIME: "${{ steps.current-time.outputs.time }}"
          R_TIME: "${{ steps.current-time.outputs.readableTime }}"
          F_TIME: "${{ steps.current-time.outputs.formattedTime }}"
          YEAR: "${{ steps.current-time.outputs.year }}"
          DAY: "${{ steps.current-time.outputs.day }}"
        run: echo "TEST_TIME=$TIME" >> $GITHUB_ENV

      - name: Update PR body
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.update({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: process.env.TEST_TIME
            })
